# Standalone
REVISIUM_URL=revisium://your-username:your-password@localhost:9222/admin/dictionary/master:head

# Docker Compose Revisium
# REVISIUM_URL=revisium://your-username:your-password@localhost:8080/admin/dictionary/master:head

# Revisium Cloud
# REVISIUM_URL=revisium://cloud.revisium.io/my-org/dictionary/master:head?apikey=rev_xxx

PORT=3000
