# Standalone
REVISIUM_URL=revisium://admin:admin@localhost:9222/admin/web-config/master:head

# Docker Compose Revisium
# REVISIUM_URL=revisium://admin:admin@localhost:8080/admin/web-config/master:head

# Revisium Cloud
# REVISIUM_URL=revisium://cloud.revisium.io/my-org/web-config/master:head?apikey=rev_xxx
