REVISIUM_URL=revisium://your-username:your-password@localhost:9222/admin/frontend-config/master
VITE_REVISIUM_PUBLIC_FEATURE_FLAG_TABLE_URL=http://localhost:9222/endpoint/rest/admin/frontend-config/master/head/FeatureFlag
