REVISIUM_URL=revisium://your-username:your-password@localhost:9222/admin/dictionary/master
REVISIUM_REST_ENDPOINT=http://localhost:9222/endpoint/rest/admin/dictionary/master/head
REVISIUM_GRAPHQL_ENDPOINT=http://localhost:9222/endpoint/graphql/admin/dictionary/master/head
