REVISIUM_URL=revisium://your-username:your-password@localhost:9222/admin/web-config/master
NEXT_PUBLIC_REVISIUM_REST_ENDPOINT=http://localhost:9222/endpoint/rest/admin/web-config/master/head
REVISIUM_GRAPHQL_ENDPOINT=http://localhost:9222/endpoint/graphql/admin/web-config/master/head
